html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* borders for reference Delete when done!!!!*/
/* header, main, div, section, footer{
    border: 1px solid white;
} */

body{
    background-color: black;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
    background-image: url("../Assets/Images/beach\ shot.jpeg");
}

header, main, .keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: -20px; 
}

.mobile-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 5%;
}

#difficulty-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 1em;
}

#difficulty-div > label {
    margin-right: 5px;
}

#streak-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    line-height: 100%;
}

#streak-div > p {
    margin-right: 5px;
}

main {
    height: 60%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(59, 52, 56, 0.5);
    border-radius: 2%;
}

#guess-board {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}

.guess-word {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.guess-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 18%;
    border-radius: 10%;
    background-color: rgba(4, 4, 4, 0.75);
    color: white;
    font-size: 2rem;
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 20%;
}

.key-row {
    display: flex;
    height: 30%;
    width: 105%;
    justify-content: center;
    align-items: center;
}

.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 75%;
    width: 8%;
}

footer {
    margin-top: 10px;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

footer > button {
    margin-top: 10px;
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#delete-button {
    font-size: 35px;
}

#modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 10%;
    background-color: gray;
    z-index: 100;
    width: 33%;
    height: 33%;
    line-height: 50%;
}

.modal-on {
    display: flex;
}

.modal-off {
    display: none;
}

#close-modal {
    margin-top: 10px;
}
