html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-color: black;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
    background-image: url("../Assets/Images/beach\ shot.jpeg");
}

header, main, .keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: -20px; 
}

header > h1 {
    font-size: 1.5rem;
}

.mobile-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 5%;
}

#difficulty-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 1em;
}

#difficulty-div > label {
    margin-right: 5px;
}

.level {
    font-size: large;
}

#streak-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    line-height: 100%;
}

#streak-div > p {
    margin-right: 5px;
}

main {
    height: 50%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(59, 52, 56, 0.5);
    border-radius: 10px;
}

#guess-board {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.guess-word {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.guess-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 18%;
    border-radius: 10px;
    background-color: rgba(4, 4, 4, 0.75);
    color: white;
    font-size: 2rem;
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 25%;
}

.key-row {
    display: flex;
    height: 30%;
    width: 105%;
    justify-content: center;
    align-items: center;
}

.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 75%;
    width: 8.25%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.25em;
}

footer {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
    height: 10%;
}

footer > button {
    display: flex;
    width: 45%;
    height: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

#reset-button {
    background-color: rgb(245,121,57);
    box-shadow: 2px 2px 4px rgba(245,121,57, 0.3);
}

.hints-available {
    background-color: rgb(245,121,57);
    box-shadow: 2px 2px 4px rgba(245,121,57, 0.3);
}

.no-hints-available{
    background-color: rgba(59, 52, 56, 0.5);
    color: rgba(59, 52, 56, 0.7);
}

#submit-button {
    width: 60%;
    height: 75%;
    box-shadow: 2px 2px 4px rgba(133,192,249, 0.3);
    font-size: 1.75em;
}

.submit-ready {
    background-color: rgb(133,192,249);
}

.submit-not-ready {
    background-color: rgba(59, 52, 56, 0.5);
    color: rgba(59, 52, 56, 0.7);
}

#delete-button {
    font-size: 2.5em;
}

#modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    z-index: 100;
    width: 90%;
    height: 50%;
    line-height: 50%;
    background-color: rgba(4, 4, 4, .8);
    border-radius: 10px;
}

#modal > p {
    font-size: 150%;
}

#modal > h1 {
    font-size: 300%;
}

.modal-on {
    display: flex;
}

.modal-off {
    display: none;
}

#close-modal {
    margin-top: 10px;
    border-radius: 10px;
    height: 15%;
    color: white;
    background-color: rgb(133,192,249);
    box-shadow: 2px 2px 4px rgba(245,121,57, 0.3);
    width: 50%;
    font-size: 1.5em;
}

#difficulty-selector {
    border-radius: 5px;
    background-color: rgba(59, 52, 56, 0.5);
    color: white;
}

@media screen and (min-width: 393px) {
   header > h1 {
    font-size: 2rem;
   }
}

@media screen and (min-width: 768px) {
    #modal {
        width: 70%;
    }
    .mobile-info {
        width: 50%;
        font-size: large;
    }
    main {
        width: 50%;
    }
    #keyboard {
        width: 60%;
    }
    footer {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    #modal {
        width: 60%;
    }
    .mobile-info {
        width: 50%;
        font-size: large;
    }
    main {
        width: 40%;
    }
    #keyboard {
        width: 50%;
    }
    footer {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    #modal {
        width: 50%;
    }
    .mobile-info {
        width: 30%;
        font-size: large;
    }
    main {
        width: 35%;
    }
    #keyboard {
        width: 45%;
    }
    footer {
        width: 25%;
    }
}